<%- include("../partials/header") %> 


<div class="container">
	<div class="row">
	<div class="col-md-4 p-2 mt-5">
			<h1><%= user.firstName + " " + user.lastName %></h1>
			
			<div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
		
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quasi similique architecto ad modi sunt quaerat possimus, officiis quos. Voluptatibus repellendus exercitationem, id saepe sunt consectetur non quam sapiente assumenda
		
	</div>
	<div class="col-md-8 mt-5">
		<div class="container-users">
		  <h3><%= user.username %>'s recommended campgrounds:</h3>
		  <hr>
		  <ul>
		  <% campground.forEach(function(campground) { %>
			   <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>			  
		  <% }); %>
		  </ul>	
		</div>	
		
		<h3>My Favourite Campgrounds</h3>
		      <hr>		
					 
			 
		
			  <ul>
				   <% user.mylist.forEach(function(item) { %>
						 <li> <%= item %>	</li>					
					 <% }); %>	 					
						 					
				   </ul> 
		
	</div>
</div>

</div>



<%- include("../partials/footer") %> 